*.tar
*.pyc
*.swp
tmp*
create_science_files_metadata_table.sqlite3
data_availability_by_date.py
gunicorn.log
nohup.out
run.py
*.tar.gz
*.egg-info/
MANIFEST
dist
env
*.tar.gz
*.tgz
build
/.project
/.pydevproject
.metadata
/maven/
/venv/
.coverage
.settings
*.bak
.idea/
.DS_Store
